html, body {
    font-family: sans-serif;
    color: blanchedalmond;
    background-color: black;
    height: 100%;
    margin: 0;
}

.load{
    height: 100%;
}

.loader {
    border-radius: 10%;
    border-top: 16px solid red;
    border-bottom: 16px solid green;
    border-left: solid blue;
    border-right: solid rgb(9, 191, 236);
    width: 120px;
    height: 120px;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
        border-top: solid blue;
        transition: 5s ease-in-out;
    }

    50% {
        transform: rotate(90deg);
        border-bottom: solid red;
        transition: 5s ease-in-out;
    }

    0% {
        transform: rotate(0deg);
        border-left: solid green;
        transition: 5s ease-in-out;
    }
}

.loader-rev {

    border-radius: 10%;
    border-top: solid red;
    border-bottom: solid green;
    border-left: 16px solid blue;
    border-right: 16px solid rgb(9, 191, 236);
    width: 120px;
    height: 120px;
    animation: spin-rev 4s linear infinite;
}

@keyframes spin-rev {
    100% {
        transform: rotate(0deg);
        border-left: solid blue;
        transition: 5s ease-in-out;
    }

    50%{
        transform: rotate(90deg);
        border-bottom: solid red;
        transition: 5s ease-in-out;
    }

    0% {
        transform: rotate(360deg);
        border-right: solid green;
        transition: 5s ease-in-out;
    }
}